ARPrj/packages/
ARPrj/ARPrj.Common/bin/Debug/ARPrj.Common.dll
ARPrj/ARPrj.Common/bin/Debug/ARPrj.Common.pdb
ARPrj/ARPrj.Common/obj/Debug/ARPrj.Common.csproj.CoreCompileInputs.cache
ARPrj/ARPrj.Common/obj/
ARPrj/ARPrj.DataAccess/bin/
ARPrj/ARPrj.DataAccess/obj/
ARPrj/ARPrj.Model/obj/
ARPrj/ARPrj.Service/obj/
ARPrj/ARPrj.Services/bin/
ARPrj/ARPrj.Services/obj/
ARPrj/ARPrj.Web.Framework/bin/
ARPrj/ARPrj.Web.Framework/obj/
ARPrj/ARPrj.WebFramework/obj/
ARPrj/ARPrj.WebManagement/bin/
ARPrj/ARPrj.WebManagement/obj/
ARPrj/Common/obj/
ARPrj/ARPrj.Model/bin/
ARPrj/.vs/
ARPrj/ARPrj.WebFramework/bin/
