p {
    text-align: center;
}

.phone i {
    color: #17a236;
    font-size: 20px;
}

.mail i {
    color: #17a236;
    font-size: 20px;
}

.abc {
    margin-top: 46px;
    margin-left: 15px;
}

.a i {
    color: #17a236;
}

.a {
    margin-left: 83px;
    margin-bottom: 10px;
}

.home {
    color: #17a236;
}

.carousel-indicators {
    bottom: -40px;
}
/*/
/*.slider{*/
/*    background-image: url("../img/tuyet.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    padding: 37px;*/
/*}*/

.meNu-Section {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
}

.menu ul li {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
}

.menu li a {
    font-size: 20px;
    color: black;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.meNu-wrapper {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    background-color: #fff;
    height: 100%;
    display: flex;
}

.b {
    padding-left: 20px;
    margin-bottom: -37px;
}

.meNu-Items {
    float: left;
    width: 20%;
    background-color: #fff;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 38px;
    margin-left: 0px;
}

.meNu-Links {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #80b435;
    letter-spacing: 2px;
    background-color: #fff;
    font-family: Oswald;
}

    .meNu-Links:hover {
        color: #80b435;
    }


.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }

.gift {
    margin-top: 20px;
}
/*.www{*/
/*    height: 300px;*/
/*}*/
.col-item .separator p i {
    margin-right: 5px;
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.h {
    margin-top: -315px;
    margin-bottom: 100px;
    margin-left: 100px;
    color: white;
    font-size: 18px;
    font-family: cursive
}

.nav-tabs {
    margin-bottom: 15px;
}

.i {
    height: 150px;
}


.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }

    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    .col-item:hover .info {
        background-color: #F5F5DC;
    }

    .col-item .price {
        /*width: 50%;*/
        float: left;
        margin-top: 5px;
    }

        .col-item .price h5 {
            line-height: 20px;
            margin: 0;
        }

.price-text-color {
    color: #219FD1;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .col-item .separator p i {
        margin-right: 5px;
    }

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}



