p{
    text-align: center;
}
.phone i{
    color: #17a236;
    font-size: 20px;
}

.mail i{
    color: #17a236;
    font-size: 20px;
}

.abc{
    margin-top: 46px;
    margin-left: 15px;
}
.a i{
    color: #17a236;
}
.a{
    margin-left: 83px;
    margin-bottom: 10px;
}

.home{
    color: #17a236;
}

.carousel-indicators{
    bottom: -40px;
}
.slider{
    background-image: url("../img/tuyet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 37px;
}

.meNu-Section {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;

}

.menu ul li{
    margin:0;
    padding: 0;
    text-align: center;
    display: inline;
}
.menu li a{
    font-size: 20px;
    color: black;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.meNu-wrapper {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    background-color: #fff;
    height: 100%;
    display: flex;

}
.b{
    padding-left: 20px;
    margin-bottom: -37px;
}
.meNu-Items {
    float: left;
    width: 20%;
    background-color: #fff;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 38px;
    margin-left: 0px;
}
.meNu-Links {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #80b435;
    letter-spacing: 2px;
    background-color: #fff;
    font-family: Oswald;
}
.meNu-Links:hover {
    color: #80b435;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.gift{
    margin-top: 20px;
}
/*.www{*/
/*    height: 300px;*/
/*}*/
.col-item .separator p i
{
    margin-right: 5px;
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.search-sec {
    top: 700px;
    position: relative;
}

.b {
    position: relative;
    margin-left: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.b:hover .image {
    opacity: 0.3;
}

.b:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
/*@media (min-width: 992px){*/
/*    .search-sec{*/
/*        position: relative;*/
/*        top: -114px;*/
/*        background: rgba(26, 70, 104, 0.51);*/
/*    }*/
/*}*/

/*@media (max-width: 992px){*/
/*    .search-sec{*/
/*        background: #1A4668;*/
/*    }*/
/*}*/