@model List<ARPrj.DataAccess.Flight>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row" style="border-style: groove">
                <div class="col-lg-2">
                    <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                         height="22px">
                </div>
                <div class="col-lg-2">
                    <span>VJ194</span>
                </div>
                <div class="col-lg-2">
                    <span>@item.DepartureTime-@item.ArrivalTime</span>
                </div>
                <div class="col-lg-2">
                    <span>@item.Airline.NetPrice</span>
                </div>
                <div class="col-lg-2">
                    <span>Chi tiet</span>
                </div>
                <div class="col-lg-2">
                    <span>Chon</span>
                </div>
            </div>
        }
        <div class="row" style="border-style: groove">
            <div class="col-lg-2">
                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                     height="22px">
            </div>
            <div class="col-lg-2">
                <span>VJ194</span>
            </div>
            <div class="col-lg-2">
                <span>23:00-01:00</span>
            </div>
            <div class="col-lg-2">
                <span>1.000.090</span>
            </div>
            <div class="col-lg-2">
                <span>Chi tiet</span>
            </div>
            <div class="col-lg-2">
                <span>Chon</span>
            </div>
        </div>
        <div class="row" style="border-style: groove">
            <div class="col-lg-2">
                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                     height="22px">
            </div>
            <div class="col-lg-2">
                <span>VJ194</span>
            </div>
            <div class="col-lg-2">
                <span>23:00-01:00</span>
            </div>
            <div class="col-lg-2">
                <span>1.000.090</span>
            </div>
            <div class="col-lg-2">
                <span>Chi tiet</span>
            </div>
            <div class="col-lg-2">
                <span>Chon</span>
            </div>
        </div>
        <div class="row" style="border-style: groove">
            <div class="col-lg-2">
                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                     height="22px">
            </div>
            <div class="col-lg-2">
                <span>VJ194</span>
            </div>
            <div class="col-lg-2">
                <span>23:00-01:00</span>
            </div>
            <div class="col-lg-2">
                <span>1.000.090</span>
            </div>
            <div class="col-lg-2">
                <span>Chi tiet</span>
            </div>
            <div class="col-lg-2">
                <span>Chon</span>
            </div>
        </div>
        <div class="row" style="border-style: groove">
            <div class="col-lg-2">
                <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                     height="22px">
            </div>
            <div class="col-lg-2">
                <span>VJ194</span>
            </div>
            <div class="col-lg-2">
                <span>23:00-01:00</span>
            </div>
            <div class="col-lg-2">
                <span>1.000.090</span>
            </div>
            <div class="col-lg-2">
                <span>Chi tiet</span>
            </div>
            <div class="col-lg-2">
                <span>Chon</span>
            </div>
        </div>

    </div>
