@using ARPrj.DataAccess
@model ARPrj.WebManagement.Models.SearchResultViewModel
@{
    Layout = null;
}
@if (Model != null)
{
    if (Model.Flights == null)
    {
        Model.Flights = new List<Flight>();
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        Dat Ve May Bay Online
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

    <link href="~/Assets/client/css/a.css" rel="stylesheet" />
    <link href="~/Assets/client/css/layout.css" rel="stylesheet" />
    <link href="~/Assets/client/css/Home.css" rel="stylesheet" />
    <link href="~/Assets/client/css/booking.css" rel="stylesheet" />
       @*Customize*@
    <link href="https://res.flynow.vn/cdn/flynow/css/main.css?v=1.0.20" rel="stylesheet" />
    <link href="https://res.flynow.vn/cdn/flynow/css/fn-icon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <Link rel="stylesheet" href="Footer.css">
    <link href="https://res.flynow.vn/cdn/flynow/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://res.flynow.vn/cdn/flynow/plugin/jquery-filer/jquery.filer.css" rel="stylesheet" />
    <link href="https://res.flynow.vn/cdn/flynow/plugin/datetimepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr">
</head>

<body class="landing-page sidebar-collapse">
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand">
                    <img style="width:250px" src="https://www.gotadi.com/assets/images/logo.svg" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="Home/AirlineList" class="nav-link">
                            Ve may bay
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../Account/Login" class="nav-link">
                            Dang nhap
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../Account/Register" class="nav-link">
                            Dang ky
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://demos.creative-tim.com/material-kit/assets/img/profile_city.jpg')">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form role="form" method="post" action="@Url.Action("SearchFlights", "Home")" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    @Html.DropDownList("To",
                                           null, "Chon diem di",  // property to be used as text of dropdown item
                                                        new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying to</span>
                                    @Html.DropDownList("From",
                                         null, "Chon diem den",  // property to be used as text of dropdown item
                                                      new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input class="form-control" type="date" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Returning</span>
                                    <input class="form-control" type="date" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Number Ticket</span>
                                    <input type="number" name="Amount" class="form-control" required min="1" step="1" placeholder="Enter number ticket">
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Aiport</span>
                                    <select class="form-control">
                                        <option>Thuong gia</option>
                                        <option>Pho thong</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-btn">
                                    <button class="submit-btn">Show flights</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            @if (Model != null)
            {
                if (Model.Flights.Count > 0)
                {
                    @Html.Partial("~/Views/Home/_partialView/_PartialFlights.cshtml", Model.Flights)
                }
            }

            <div class="section text-center">
                <h2 class="title ">Ve may bay khuyen mai</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-lg-2">
                                    <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                                         height="22px" style="margin-left:201px">
                                </div>
                                <div class="row">
                                    <p>Tu Ho Chi Minh</p>
                                </div>
                                <div class="row">
                                    <strong>Ha Noi</strong>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">26/7/2020</div>
                                    <div class="col-lg-4">----</div>
                                    <div class="col-lg-4">28/7/2020</div>
                                </div>
                            </div>
                            <div class="card-footer row">
                                <div class="col-lg-8">
                                    1.500.000
                                </div>
                                <div class="col-lg-4">
                                    <a href="AirlineList"><button type="button" class="btn btn-primary">Show</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-lg-2">
                                    <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                                         height="22px" style="margin-left:201px">
                                </div>
                                <div class="row">
                                    <p>Tu Ho Chi Minh</p>
                                </div>
                                <div class="row">
                                    <strong>Da Nang</strong>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">26/7/2020</div>
                                    <div class="col-lg-4">----</div>
                                    <div class="col-lg-4">28/7/2020</div>
                                </div>
                            </div>
                            <div class="card-footer row">
                                <div class="col-lg-8">
                                    1.000.000
                                </div>
                                <div class="col-lg-4">
                                    <a href="AirlineList"><button type="button" class="btn btn-primary">Show</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-lg-2">
                                    <img src="https://www.abay.vn/Images/Icon/Flight/Airline/AirlineLogo/smVJ_Full.gif" alt=""
                                         height="22px" style="margin-left:201px">
                                </div>
                                <div class="row">
                                    <p>Tu Ho Chi Minh</p>
                                </div>
                                <div class="row">
                                    <strong>Nha Trang</strong>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">28/7/2020</div>
                                    <div class="col-lg-4">----</div>
                                    <div class="col-lg-4">30/7/2020</div>
                                </div>
                            </div>
                            <div class="card-footer row">
                                <div class="col-lg-8">
                                    1.000.000
                                </div>
                                <div class="col-lg-4">
                                    <a href="AirlineList"><button type="button" class="btn btn-primary">Show</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-info">
                                    <img src="https://vietair.com.vn/Images/Desktop/Views/Home/Index/247.png">
                                </div>
                                <h4 class="info-title">Ho tro 24/7</h4>
                                <p>Chỉ với một cú nhấp chuột, dễ dàng so sánh các chuyến bay giữa các hãng</p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-success">
                                    <img src="https://vietair.com.vn/Images/Desktop/Views/Home/Index/100percent.png">
                                </div>
                                <h4 class="info-title">Gia ve tot nhat</h4>
                                <p>Bay khắp mọi nơi với giá cực rẻ</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <img src="https://vietair.com.vn/Images/Desktop/Views/Home/Index/pay.png">
                                </div>
                                <h4 class="info-title">Thanh toan tien loi</h4>
                                <p>Hệ thống đặt chỗ và thanh toán tiện lợi và uy tín</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <img src="https://vietair.com.vn/Images/Desktop/Views/Home/Index/bao-mat.png">
                                </div>
                                <h4 class="info-title">Chinh sach bao mat</h4>
                                <p>Giá vé được đảm bảo theo thanh toán đã xác nhận, yêu cầu đặt chỗ được đảm bảo khi vé được xuất</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section text-center">
                <h2 class="title">Uu dai ngay hom nay</h2>
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img src="https://www2.gotadi.com//Upload/imgbanner/imgbanner260520200959105910.jpg" class="img-responsive" alt="a" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img src="https://www2.gotadi.com//Upload/imgbanner/imgbanner22052020110310310.jpg" class="img-responsive" alt="a" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img src="https://www2.gotadi.com//Upload/imgbanner/imgbanner130520200434203420.jpg" class="img-responsive" alt="a" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img src="https://www2.gotadi.com//Upload/imgbanner/imgbanner050520200225562556.jpg" class="img-responsive" alt="a" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2 style="text-align: center">Diem den pho bien</h2>
                <div class="row">
                    <div class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="~/Assets/client/image_icon/Home/dalat.jpg" alt="a" style="height: 150px" />
                                            </div>
                                            <div class="info" style="padding: 10px;
                                                         border-radius: 0 0 5px 5px;
                                                         margin-top: 1px;">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h5>
                                                            Da Lat
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            $199.99
                                                        </h5>
                                                    </div>

                                                </div>
                                                <div class="separator clear-left row">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="https://www.paypal.com/cgi-bin/webscr" class="hidden-sm">Add</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="AirlineList" class="hidden-sm">More</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="~/Assets/client/image_icon/Home/ninhbinh.jpg" alt="a" style="height: 150px" />
                                            </div>
                                            <div class="info" style="padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h5>
                                                            Ninh Binh
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            $199.99
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="separator clear-left row">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="https://www.paypal.com/cgi-bin/webscr" class="hidden-sm">Add</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="AirlineList" class="hidden-sm">More</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="~/Assets/client/image_icon/Home/quynhon.jpg" alt="a" style="height: 150px" />
                                            </div>
                                            <div class="info" style="padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h5>
                                                            Quy Nhon
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            $149.99
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="separator clear-left row">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="https://www.paypal.com/cgi-bin/webscr" class="hidden-sm">Add</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="AirlineList" class="hidden-sm">More</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="~/Assets/client/image_icon/Home/sapa.jpg" alt="a" style="height: 150px;" />
                                            </div>
                                            <div class="info" style="padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;">
                                                <div class="row">
                                                    <div class="price col-lg-6">
                                                        <h5>
                                                            Sapa
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            $199.99
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="separator clear-left row">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="https://www.paypal.com/cgi-bin/webscr" class="hidden-sm">Add</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="AirlineList" class="hidden-sm">More</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container gift">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="https://www.gotadi.com/assets/images/member-gtd.svg" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h2>Chi danh rieng cho thanh vien AR</h2>
                            <span>Quản lý giao dịch, lưu danh sách hành khách thường xuyên, thông báo nhắc nhở hành trình, hưởng nhiều ưu đãi độc quyền chỉ khi tham gia cùng chúng tôi.</span>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-success">Dang ky</a></button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="jumbotron">
                    <h4>Tìm và mua vé máy bay giá rẻ trên Etrip4u.com</h4>
                    <span>
                        Etrip4u.com nỗ lực hết mình để hỗ trợ quý khách tìm được những lựa chọn vé máy bay tốt
                        nhất, hệ thống tổng hợp vé máy bay khuyến mại của tất cả các hãng hàng không tới các địa
                        điểm trên khắp Thế Giới.
                    </span> </br>
                    </br>
                    <h4>Ưu đãi chuyến bay giá rẻ với etrip4u.com trên toàn Thế Giới</h4>
                    <span>
                        Etrip4u hợp tác chặt chẽ với các hãng hàng không lớn trên khắp mọi Châu lục.
                        Mua vé máy bay thật dễ dàng với Etrip4u.com.
                    </span>
                </div>
            </div>
            <div class="section section-contacts">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center title">Work with us</h2>
                        <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Your Name</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-primary btn-raised">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="row top-footer padl15 padr15">
                <div class="col-xs-3 col-xs-offset-2">
                    <p class="title">ĐỊA CHỈ</p>
                    <div class="content">
                        <p>
                            <i class="icon icon-footer-office"></i>
                            <span> TẠI HÀ NỘI </span>
                            : 649 Kim Mã, Quân Ba Đình, Hà Nội
                        </p>
                        <p>
                            <i class="icon icon-footer-office"></i>
                            <span> TẠI HỒ CHÍ MINH </span>
                            : Số 15 đường Giải Phóng, Hồ Chí Minh
                        </p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <p class="title">LIÊN HỆ</p>
                    <div class="content">
                        <p class="mb10">
                            <i class="icon icon-footer-phone"></i>
                            0983188062
                        </p>
                        <p class="mb10">
                            <i class="icon icon-footer-mail"></i>
                            bookingarj.vn
                        </p>
                        <p>
                            <i class="icon icon-footer-phone"></i>
                            0376781525
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <p class="title">ĐĂNG KÝ NHẬN EMAIL</p>
                    <div class="content">
                        <div class="input-group">
                            <input type="text" class="form-control" id="register-email" placeholder="Nhập Email" />
                            <span class="input-group-btn">
                                <button class="btn" onclick="Layout.onRegisterEmail('register-email')"><i class="icon icon-footer-send-mail"></i></button>
                            </span>
                        </div>
                        <p class="fllow-us">
                            <span> FOLLOW US</span>
                            <a href=""><i class="icon icon-skype-white"></i></a>
                            <a href=""><i class="icon icon-fb-white"></i></a>
                            <a href=""><i class="icon icon-gg-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row bottom-footer padl15 padr15">
                <div class="col-xs-2">
                    <p class="title" style="margin-top:-31px">
                        <a href="#"><img src="https://www.gotadi.com/assets/images/logo.svg" alt="logo flynow footer" /></a>
                    </p>
                </div>
                <div class="col-xs-2">
                    <p class="title">TRONG NƯỚC</p>
                    <div class="content">
                        <a href="/ve-may-bay-di-hue-HUI" title=""><h3 class="h5-seo">Vé máy bay đi Huế</h3></a>
                        <a href="/ve-may-bay-di-ha-noi-HAN" title=""><h3 class="h5-seo">Vé máy bay đi H&#224; Nội</h3></a>
                        <a href="/ve-may-bay-di-vinh-VII" title=""><h3 class="h5-seo">Vé máy bay đi Vinh</h3></a>
                        <a href="/ve-may-bay-di-da-lat-DLI" title=""><h3 class="h5-seo">Vé máy bay đi Đ&#224; Lạt</h3></a>
                        <a href="/ve-may-bay-di-da-nang-DAD" title=""><h3 class="h5-seo">Vé máy bay đi Đ&#224; Nẵng</h3></a>
                        <a href="/ve-may-bay-di-hai-phong-HPH" title=""><h3 class="h5-seo">Vé máy bay đi Hải Ph&#242;ng</h3></a>
                        <a href="/ve-may-bay-di-nha-trang-CXR" title=""><h3 class="h5-seo">Vé máy bay đi Nha Trang</h3></a>
                        <a href="/ve-may-bay-di-phu-quoc-PQC" title=""><h3 class="h5-seo">Vé máy bay đi Ph&#250; Quốc</h3></a>
                        <a href="/ve-may-bay-di-sai-gon-SGN" title=""><h3 class="h5-seo">Vé máy bay đi S&#224;i G&#242;n</h3></a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p class="title">QUỐC TẾ</p>
                    <div class="content">
                        <a href="/ve-may-bay-di-sydney-SYD" title=""><h3 class="h5-seo">Vé máy bay đi Sydney</h3></a>
                        <a href="/ve-may-bay-di-london-LON" title=""><h3 class="h5-seo">Vé máy bay đi London</h3></a>
                        <a href="/ve-may-bay-di-paris-PAR" title=""><h3 class="h5-seo">Vé máy bay đi Paris</h3></a>
                        <a href="/ve-may-bay-di-bac-kinh-BJS" title=""><h3 class="h5-seo">Vé máy bay đi Bắc Kinh</h3></a>
                        <a href="/ve-may-bay-di-tokyo-TYO" title=""><h3 class="h5-seo">Vé máy bay đi Tokyo</h3></a>
                        <a href="/ve-may-bay-di-bangkok-BKK" title=""><h3 class="h5-seo">Vé máy bay đi Bangkok</h3></a>
                        <a href="/ve-may-bay-di-new-york-NYC" title=""><h3 class="h5-seo">Vé máy bay đi New York</h3></a>
                        <a href="/ve-may-bay-di-seoul-SEL" title=""><h3 class="h5-seo">Vé máy bay đi Seoul</h3></a>
                        <a href="/ve-may-bay-di-singapore-SIN" title=""><h3 class="h5-seo">Vé máy bay đi Singapore</h3></a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p class="title">QUỐC GIA</p>
                    <div class="content">
                        <a href="/ve-may-bay-di-my-US" title=""><h3 class="h5-seo"> Vé máy bay đi Mỹ</h3></a>
                        <a href="/ve-may-bay-di-uc-AU" title=""><h3 class="h5-seo"> Vé máy bay đi &#218;c</h3></a>
                        <a href="/ve-may-bay-di-anh-GB" title=""><h3 class="h5-seo"> Vé máy bay đi Anh</h3></a>
                        <a href="/ve-may-bay-di-phap-FR" title=""><h3 class="h5-seo"> Vé máy bay đi Ph&#225;p</h3></a>
                        <a href="/ve-may-bay-di-trung-quoc-CN" title=""><h3 class="h5-seo"> Vé máy bay đi Trung Quốc</h3></a>
                        <a href="/ve-may-bay-di-han-quoc-KP" title=""><h3 class="h5-seo"> Vé máy bay đi H&#224;n Quốc</h3></a>
                        <a href="/ve-may-bay-di-nhat-ban-JP" title=""><h3 class="h5-seo"> Vé máy bay đi Nhật Bản</h3></a>
                        <a href="/ve-may-bay-di-thai-lan-TH" title=""><h3 class="h5-seo"> Vé máy bay đi Th&#225;i Lan</h3></a>
                        <a href="/ve-may-bay-di-malaysia-MY" title=""><h3 class="h5-seo"> Vé máy bay đi Malaysia</h3></a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p class="title">HÃNG BAY</p>
                    <div class="content">
                        <a href="/ve-may-bay-vietnam-airlines-VN" title=""><h3 class="h5-seo"> Vé hãng Vietnam Airlines</h3></a>
                        <a href="/ve-may-bay-vietjet-air-VJ" title=""><h3 class="h5-seo"> Vé hãng Vietjet Air</h3></a>
                        <a href="/ve-may-bay-jetstar-BL" title=""><h3 class="h5-seo"> Vé hãng Jetstar</h3></a>
                        <a href="/ve-may-bay-tiger-airways-TR" title=""><h3 class="h5-seo"> Vé hãng Tiger Airways</h3></a>
                        <a href="/ve-may-bay-united-airlines-UA" title=""><h3 class="h5-seo"> Vé hãng United Airlines</h3></a>
                        <a href="/ve-may-bay-cathay-pacific-airways-CX" title=""><h3 class="h5-seo"> Vé hãng Cathay Pacific Airways</h3></a>
                        <a href="/ve-may-bay-qatar-airways-QR" title=""><h3 class="h5-seo"> Vé hãng Qatar Airways</h3></a>
                        <a href="/ve-may-bay-air-asia-AK" title=""><h3 class="h5-seo"> Vé hãng Air asia</h3></a>
                        <a href="/ve-may-bay-air-france-AF" title=""><h3 class="h5-seo"> Vé hãng Air France</h3></a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p class="title">BẠN CÒN THẮC MẮC</p>
                    <div class="content">
                        <a href="/gioi-thieu" rel="nofollow" title="Giới thiệu">Giới thiệu</a><br>
                        <a rel="nofollow" href="/dieu-khoan-su-dung" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                        <a rel="nofollow" href="/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo mật</a>
                        <a href="/huong-dan-thanh-toan" rel="nofollow" title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a>
                        <a href="/huong-dan-dat-ve" rel="nofollow" title="Hướng dẫn đặt vé">Hướng dẫn đặt vé</a>
                        <a href="https://halotravel.vn/">Cẩm nang du lich</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="https://itunes.apple.com/us/app/%C4%91%E1%BA%B7t-v%C3%A9-m%C3%A1y-bay-gi%C3%A1-r%E1%BA%BB-flynow-vn/id1090341645?mt=8" target="_blank"><i class="icon icon-appstore"></i></a>
        <a class="" href="https://play.google.com/store/apps/details?id=com.smartadv.flynow" target="_blank"><i class="icon icon-playstore"></i></a>
       
    </footer>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
</noscript>
</body>

</html>

