@*@{
    Layout = "~/Views/Shared/_Home.cshtml";
}*@
<div class="jumbotron" style="line-height:37px">
    <div class="row">
        <div class="col-lg-3">
            <span>TP Ho Chi Minh -> Ha Noi</span>
        </div>
        <div class="col-lg-2">
            <span>Thu Bay 25/07/2020</span>
        </div>
        <div class="col-lg-2">
            <span>So luong</span>
        </div>
        <div class="col-lg-1">
            <span>x1 =</span>
        </div>
        <div class="col-lg-2"><span>980,000</span></div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <span>Bamboo QH272</span>
        </div>
        <div class="col-lg-2">
            <span>22:35 - 00:40</span>
        </div>
        <div class="col-lg-2">
            <span>Thue + phi</span>
        </div>
        <div class="col-lg-1">
            <span></span>
        </div>
        <div class="col-lg-2"><span>720,000</span></div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <span>Airbus A321</span>
        </div>
        <div class="col-lg-2">
            <span></span>
        </div>
        <div class="col-lg-2">
            <span>Tong gia ve</span>
        </div>
        <div class="col-lg-1">
            <span></span>
        </div>
        <div class="col-lg-2"><span>1,700,000</span></div>
    </div>
</div>

